{
  "FreeSpaceMBytes_barbaz_root":
    { "description"      : "Available free space on host barbaz / in MB",
      "metricName"       : "FreeSpaceMBytes",
      "nameSpace"        : "System/Linux",
      "units"            : "Megabytes",
      "dimensions"       :
        { 
          "Path"         : "/"
        },
      "command"          : "/usr/bin/ssh barbaz /bin/df --local --block-size=1M / | /bin/grep / | /usr/bin/tr -s ' ' | /usr/bin/cut -d ' ' -f 4",
      "instanceid"       : "i-18675309",
      "hostname"         : "barbaz"
    },

  "UsedSpacePercent_barbaz_root":
    { "description"      : "Percentage of used disk space on host barbaz / partition",
      "metricName"       : "UsedSpacePercent",
      "nameSpace"        : "System/Linux",
      "units"            : "Percent",
      "dimensions"       :
        { 
          "Path"         : "/"
        },
      "command"          : "/usr/bin/ssh barbaz /bin/df --local / | /bin/grep / | /usr/bin/tr -s ' ' | /usr/bin/cut -d ' ' -f 5 | /bin/grep -o \"[0-9]*\"",
      "instanceid"       : "i-18675309",
      "hostname"         : "barbaz"
    }
}
